<div style="background-color: lightskyblue; padding: 1px 10px 12px 10px; margin-bottom: 25px">
  <div style="text-align: center">
    <h3>Serverless Computing</h3>
    <a href="http://serverlessbuch.de" target="_blank">
      <img src="/images/serverlessbook_cover.jpg" style="width: 150px; border: 1px solid white;"/>
    </a>
    <div>
      My book on <em>Serverless Computing</em> (german language only) will be published in autumn 2017 at <a href="https://entwickler.de/?p=579804107" target="_blank">entwickler.press</a>
      <p><a href="https://www.amazon.de/gp/product/3868028072/ref=as_li_tl?ie=UTF8&tag=dasniko-21&camp=1638&creative=6742&linkCode=as2&creativeASIN=3868028072&linkId=45c0c27cc0563abcdf0e15ee179c4168" target="_blank">Pre-order now!</a></p>
      <p><a href="https://twitter.com/serverlessbuch" target="_blank">@serverlessbuch</a><br/>
        <a href="http://serverlessbuch.de" target="_blank">serverlessbuch.de</a></p>
    </div>
  </div>
</div>
