<section>
  <div class="row align-items-center">
    <div class="col-12 col-md-6 col-lg-3">
      <h4>You probably know me from:</h4>
    </div>
    <div class="col-auto">
      <a href="https://www.youtube.com/c/NikoKöbler?sub_confirmation=1" target="_blank"><img src="/images/logo_youtube.png" alt="YouTube" title="YouTube" class="conflogo"/></a>
    </div>
    <div class="col-auto">
      <img src="/images/logo_jax.png" alt="JAX Conference Series, Germany" title="JAX Conference Series, Germany" class="conflogo"/>
    </div>
    <div class="col-auto">
      <img src="/images/logo_javaland.gif" alt="JavaLand, Cologne" title="JavaLand, Cologne" class="conflogo"/>
    </div>
    <div class="col-auto">
      <img src="/images/logo_sla.png" alt="Serverless Architecture Conference, The Hague" title="Serverless Architecture Conference, The Hague" class="conflogo"/>
    </div>
    <div class="col-auto">
      <img src="/images/logo_bettercode.svg" alrt="betterCode" title="betterCode Conferences by heise Developer" class="conflogo"/>
    </div>
    <div class="col-auto">
      <img src="/images/logo_javamagazin.svg" alt="Java Magazin" title="Java Magazin" class="conflogo" style="width: fit-content"/>
    </div>
    <div class="col-auto">
      <img src="/images/logo_javaone.png" alt="JavaOne, San Francisco" title="JavaOne, San Francisco" class="conflogo"/>
    </div>
  </div>
</section>
