{% if site.disqus %}
<div class="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		function showDisqus() {
			 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			 dsq.src = '//{{ site.disqus }}.disqus.com/embed.js';
			 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		}
		function enableDisqus() {
			sessionStorage.setItem("disqusAccepted", "ok");
			showDisqus();
			var el = document.getElementById("disqusDisabled");
			if (el) {
				el.parentNode.removeChild(el);
			}
		}
		if (sessionStorage.getItem("disqusAccepted") === "ok") {
	    showDisqus();
		} else {
			document.write("<div id='disqusDisabled' style='border: 2px solid lightskyblue; padding: 8px;'><p><em>");
			document.write("Comments by Disqus are initially disabled due to GDPR restrictions.");
			document.write("If you want to see the comments and agree to the <a href='https://help.disqus.com/terms-and-policies/terms-of-service' target='_blank'>Disqus terms and conditions</a>, the <a href='https://help.disqus.com/terms-and-policies/disqus-privacy-policy' target='_blank'>Disqus Privacy Policy</a> and that Disqus will see some of your personal data (such as your IP address), click on the button:</em></p>");
			document.write("<button onclick='enableDisqus()'>Enable Disqus comments</button>")
			document.write("</div>");
		}
	</script>
</div>
{% endif %}
