{% capture now %}{{ 'now' | date: '%Y-%m-%d' }}{% endcapture %}
<section>
  <h3>Meet me at one of these Events:</h3>
  <div class="row">
    {% for event in site.data.events %}
      {% capture eventDate %}{{ event.end | date: '%Y-%m-%d' }}{% endcapture %}
      {% if eventDate > now %}
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="card">
          <div class="card-header small">{{ event.start | date: '%d.%m.%Y' }} - {{ event.end | date: '%d.%m.%Y' }}</div>
          <div class="card-body">
            <h5 class="card-title"><a href="{{ event.url }}" target="_blank">{{ event.title }}</a></h5>
            <small class="card-text">{{ event.location }}</small>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
