<footer class="mt-4 py-5 border-top">
  <div class="row">
    <div class="col-12 d-sm-flex justify-content-between">
      <div>
        <div>&copy; 2012-{{ 'now' | date: "%Y" }} {{ site.name }}</div>
      </div>
      <div class="mt-4 mt-sm-0">
        <a href="{{ site.baseurl }}/privacy/">Privacy Policy</a>
        <a href="{{ site.baseurl }}/terms/" class="ml-3">Terms & Conditions</a>
        <a href="{{ site.baseurl }}/imprint/" class="ml-3">Imprint</a>
      </div>
    </div>
  </div>
</footer>
