<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-0 border-bottom mb-4">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <div class="d-flex align-items-center">
        <img src="{{ site.avatar }}" class="avatar rounded-circle"/>
        <div>
          <h1 class="my-0 text-capitalize">{{ site.name }}</h1>
          <div class="small text-capitalize text-muted d-none d-sm-block" style="font-weight: 200">{{ site.description }}</div>
        </div>
      </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-0 ml-4">
          <a class="nav-link {%if page.permalink == blank and page.title == blank %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item mr-0 ml-4">
          <a class="nav-link {%if page.permalink == '/about/' %}active{% endif %}" href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li class="nav-item mr-0 ml-4">
          <a class="nav-link {%if page.permalink == '/blog/' or (page.permalink == blank and page.title != blank) %}active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
        </li>
        <!--li class="nav-item mr-0 ml-4">
          <a class="nav-link {%if page.permalink == '/talks/' %}active{% endif %}" href="{{ site.baseurl }}/talks/">Talks</a>
        </li-->
        <!--li class="nav-item mr-0 ml-4">
          <a class="nav-link {%if page.permalink == '/publications/' %}active{% endif %}" href="{{ site.baseurl }}/publications/">Publications</a>
        </li-->
        <li class="nav-item mr-0 ml-4 dropdown">
          <a class="nav-link {%if page.permalink == '/talks/' or page.permalink == '/publications/' or page.permalink == '/trainings/' %}active{% endif %} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Public Address</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/talks/">Talk Topics</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/publications/">Publications</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/trainings/">Trainings & Workshops</a>
          </div>
        </li>
        <li class="nav-item mr-0 ml-4 dropdown">
          <a class="nav-link {%if page.permalink == '/videos/' %}active{% endif %} dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Videos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.youtube.com/c/NikoKöbler?sub_confirmation=1" target="_blank">YouTube Channel</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/videos/">Conference talks</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
