<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<meta name="author" content="{{ site.name }}" />

<meta property="twitter:creator" content="@dasniko">
<meta property="twitter:creator:id" content="170364692">
<meta property="twitter:site" content="@dasniko">
<meta property="twitter:card" content="summary">

{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
<meta property="twitter:description" content="{{ page.excerpt| strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
<meta property="twitter:description" content="{{ site.description }}" />
{% endif %}

{% if page.title %}
<meta property="og:title" content="{{ page.title }} | {{ site.name }}" />
<meta property="twitter:title" content="{{ page.title }} | {{ site.name }}" />
{% else %}
<meta property="og:title" content="{{ site.name }} | {{ site.description }}" />
<meta property="twitter:title" content="{{ site.name }} | {{ site.description }}" />
{% endif %}

{% if page.thumbnail %}
<meta property="og:image" content="{{ site.url }}{{ page.thumbnail }}">
<meta property="twitter:image" content="{{ site.url }}{{ page.thumbnail }}">
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.avatar }}">
<meta property="twitter:image" content="{{ site.url }}{{ site.avatar }}">
{% endif%}
