<div class="sidebar_content" style="margin-bottom: 20px">
  <img src="/images/aws-certified.png" alt="AWS certified">
</div>
<div class="sidebar_content">
  {% include bookteaser.html %}
</div>
<div class="sidebar_content">
  {% include speaker.html %}
</div>
<div class="sidebar_content">
  <div id="events"></div>
  <div id="jaxenter"></div>
</div>
<div class="sidebar_content">
  {% include twitter.html %}
</div>
<div class="sidebar_content">
  {% include archive.html %}
</div>
<div class="sidebar_content">
  {% include tags.html %}
</div>
