<div class="sidebar_content">
  {% include bookteaser.html %}
</div>
<div class="sidebar_content">
  <a href="https://www.buymeacoffee.com/dasniko" target="_blank">
    <img src="/imgages/bmc_orange.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" >
  </a>
</div>
<div class="sidebar_content" style="text-align: right; margin-bottom: 10px;">
  {% include speaker.html %}
</div>
<div class="sidebar_content">
  <div id="events"></div>
  <div id="jaxenter"></div>
</div>
<div class="sidebar_content">
  {% include twitter.html %}
</div>
<div class="sidebar_content">
  {% include archive.html %}
</div>
<div class="sidebar_content">
  {% include tags.html %}
</div>
