.maincontent {
  float: left;
  width: 70%;
  padding-right: 20px;
}

.sidebar {
  float: right;
  width: 30%;
  margin-top: 30px;
  padding-left: 20px;
}

.conflogo {
  padding: 3px;
}

.tags {
  font-style: italic;
  color: $gray;
}

.postimg {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
}

pre.prettyprint {
  border-radius: 0.5em;
  box-shadow: 5px 5px 5px #888;
  padding: 0.5em;
}
