.maincontent {
  float: left;
  width: 72%;
  padding-right: 20px;
  @include mobile {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
}

.sidebar {
  float: right;
  width: 28%;
  margin-top: 30px;
  padding-left: 20px;
  @include mobile {
    float: none;
    width: 100%;
    padding-left: 0px;
    margin-top: 100px;
  }
}

.sidebar_content {
  float: none;
  width: 100%;
  @include mobile {
    float: left;
    width: 33%;
    padding: 0px 10px;
  }
  @include phone {
    float: none;
    width: 100%;
    padding: 0px;
  }
}

.text-small {
  font-size: 0.8em;
}

.conflogo {
  padding: 3px;
}

.tags {
  font-style: italic;
  color: $gray;
}

.postimg {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  max-width: 350px;

  &.left {
    float: left;
  }
}

.gallery {
  float: left;
  line-height: 1;
  border: 1px solid lightgray;
  margin: 2px;
  img {
    max-height: 100px;
    margin: 3px;
  }
}

pre.prettyprint {
  border-radius: 0.5em;
  box-shadow: 5px 5px 5px #888;
  padding: 0.5em;
}

.tag-cloud {
  line-height: 1;
  text-align: justify;
}

.site-tag a {
  display: inline-block;
}

.tags-box {
  list-style: none;
  li {
    margin-top: 20px;
    margin-left: -25px;
    font-weight: bold;
  }
}

.archive-box {
  list-style: none;
  li {
    margin-left: -25px;
  }
}

sup {
  font-size: x-small;
  vertical-align: super;
}
