<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="/favicon.ico" rel="shortcut icon" />

  </head>

  <body class="container">

    {% include header.html %}

    <main class="row">
      <div class="col-12">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    {% include back-to-top.html %}
    <script src="{{ site.baseurl }}/js/script.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/js/fslightbox.js"></script>
    {% include analytics.html %}
    {% include calendly.html %}

  </body>
</html>
