<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl}}/css/fslightbox.min.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="/favicon.ico" rel="shortcut icon" />

  </head>

  <body class="container">

    {% include header.html %}

    <main class="row">
      <div class="col-sm-12 col-md-8 col-xl-9">
        {{ content }}
      </div>
      <div class="col-sm-12 col-md-4 col-xl-3">
        {% include sidebar.html %}
      </div>
    </main>

    {% include footer.html %}

    {% include back-to-top.html %}
    <script src="{{ site.baseurl }}/js/script.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/js/fslightbox.min.js"></script>
    {% include analytics.html %}

  </body>
</html>
