---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>

  <p>
    {{ page.date | date: "%B %e, %Y" }}
  </p>

  {% if page.tags != empty %}
  <p class="tags">
    Tags:
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag | slugify }}">#{{ tag }}</a>&nbsp;&nbsp;&nbsp;
    {% endfor %}
  </p>
  {% endif %}

  <p>
    {{ content }}
  </p>

  <p class="d-flex justify-content-between">
    {% if page.previous.url %}
      <a class="text-left" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="text-right" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </p>
</article>
