---
layout: default
---

<article id="post">
  <h1>{{ page.title }}</h1>

  {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}

  <p class="small">
    {{ page.date | date: "%B %e, %Y" }}
  </p>

  {% if page.tags != empty %}
  <p>
    Tags:
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag | slugify }}" class="mx-2">#{{ tag }}</a>
    {% endfor %}
  </p>
  {% endif %}

  <p>
    {% if page.thumbnail %}
    <a data-fslightbox="gallery1" href="{{ page.thumbnail }}">
      <img src="{{ page.thumbnail }}" class="postimg"/>
    </a>
    {% endif %}
    {{ content }}
  </p>

  {% include youtube.html %}

  <p class="d-flex mt-5 justify-content-between">
    {% if page.previous.url %}
      <a class="text-left" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="text-right" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </p>
</article>
