---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <p class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </p>

  <div class="entry">
    {{ page.excerpt }}
  </div>

  <div style="text-align: center">
    <script type="text/javascript">amazon_ad_tag ="dasniko-21"; amazon_ad_width ="468"; amazon_ad_height ="60"; amazon_ad_link_target ="new"; amazon_ad_price ="retail"; amazon_ad_discount ="remove"; amazon_ad_categories ="a"; </script><script src="http://ir-de.amazon-adsystem.com/s/ads.js"></script>
  </div>

  <div class="entry">
    {{ content | remove_first: page.excerpt }}
  </div>

  {% if page.tags != empty %}
  <p class="tags">
    Tags:
    {% for tag in page.tags %}
      <a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
  </p>
  {% endif %}

  {% include disqus.html %}
</article>
